.card {
  width: 200px;
  padding: 16px;
  border: 1px solid $card-border;
  border-radius: 4px;

  background-color: $white;

  &__image {
    overflow: hidden;
    display: block;

    width: 160px;
    height: 134px;
    margin: 16px auto 0;
  }

  &__title {
    width: 100%;
    margin: 40px 0 4px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $primary-text;
  }

  &__item-code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-text;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $primary-text;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;

    &-label {
      margin-right: 85px;

      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: $secondary-text;
    }

    &-value {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      color: $black;
    }
  }

  &__button {
    display: block;

    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    color: $white;
    text-align: center;
    text-decoration: none;

    background-color: $accent-color;

    &:hover {
      border: 1px solid $accent-color;
      border-radius: 5px;
      color: $accent-color;
      background-color: $white;
    }
  }
}
